<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form.title}}
        <input type="submit">
        
    </form>
    {% for task in tasks %}
    <ul>

        {% if task.completed %}
          <strike><li>{{task}}</li></strike>
        {% else %}
          <span><li>{{task}}</li></span>  
        {% endif %}
        
        <a href="{% url 'example:update' task.id %}">Update Task</a>
        <a href="{% url 'example:delete' task.id %}">Delete Task</a>

    </ul>

     
    {% endfor %} 
</body>
</html>